* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

i {
  color: #e5e5e5e7;
  font-size: 1.2rem;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 1px;
  height: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(32, 15, 86, 0.5);
  border-radius: 20px;
  scrollbar-width: 1px;
  scrollbar-width: thin;
}

body {
  background-color: #17002b;
  display: grid;
  grid-template-areas: "menu main main" "menu main main" "menu main main";
  grid-template-columns: 1fr 40% 40%;
  height: 100vh;
  overflow-x: hidden;
}

p {
  color: #9b9b9be7;
  font-size: 0.9;
}

a:hover {
  color: #e5e5e5e7;
}

.active {
  color: #e5e5e5e7 !important;
}

h1 {
  color: #e5e5e5e7;
  font-size: 1rem;
}

img {
  transition: 0.5s !important;
}

.menu {
  background-color: #040517;
  grid-area: menu;
  display: grid;
  grid-template-rows: 200px 200px 200px;
  padding: 25px;
  text-align: center;
}
.menu__profile {
  display: flex;
  align-items: flex-start;
}
.menu__edit {
  color: #e5e5e5e7;
  cursor: pointer;
}
.menu__edit:hover {
  color: #e5e5e5e7;
}
.menu__img {
  width: 65px;
  height: 65px;
  border-radius: 5px;
}
.menu__name {
  color: #e5e5e5e7;
  font-weight: 600;
  margin-left: 5px;
  line-height: 2;
}
.menu__ul {
  width: 55%;
  margin: 0 auto;
  padding-top: 10px;
  border-top: 1px solid rgba(20, 20, 20, 0.994);
}
.menu__ul a {
  color: rgba(58, 57, 57, 0.994);
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 2;
  transition: 0.5s;
}
.menu__ul a:hover {
  color: #e5e5e5e7;
}

.fas.fa-cog {
  font-size: 0.8rem;
  margin-left: 5px;
  cursor: pointer;
}

.main {
  max-width: 1200px;
  margin: 2rem auto;
  grid-area: main;
  display: grid;
  grid-template-areas: "search     search" "featured   featured" "views      tracks";
  grid-template-columns: repeat(2, minmax(300px, 500px));
}
.main__img:hover, .main__views-img:hover, .main__tracks-img:hover {
  filter: grayscale(0%);
  filter: brightness(130%);
}
.main__h1 {
  display: block;
  margin-left: 10px;
}
.main__search {
  grid-area: search;
}
.main__search-input {
  background-color: #17002b;
  border: none;
  width: 55vw;
  margin-top: 20px;
  padding: 10px;
  font-weight: 600;
  color: white;
  outline: none;
}
.main__featured-playlists {
  display: flex;
  overflow-x: auto;
  align-items: center;
  grid-area: featured;
}
.main__views {
  grid-area: views;
  max-width: 300px;
  margin-top: 20px;
}
.main__views-h1 {
  margin-bottom: 20px;
}
.main__views-profile {
  display: flex;
  margin-bottom: 20px;
  filter: grayscale(50%);
  transition: 0.2s;
  cursor: pointer;
}
.main__views-profile:hover * {
  color: #e5e5e5e7;
}
.main__tracks {
  grid-area: tracks;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  overflow-x: auto;
  align-items: center;
}
.main__tracks-card > p {
  margin-left: 10px;
}
.main__tracks-card .sub {
  font-size: 0.8rem;
  color: rgba(58, 57, 57, 0.994);
  font-weight: 500;
  letter-spacing: 1px;
}
.main__img {
  filter: grayscale(55%);
  transition: 0.3s;
  width: 320px;
  height: 220px;
  padding: 0.5rem;
  border-radius: 10%;
}
.main__img:hover {
  width: 340px;
  height: 240px;
  transition: 0.2s;
}
.main__views-img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
.main__p {
  margin: 5px 0 10px 10px;
}
.main__views-p {
  margin-left: 15px;
  line-height: 1;
  align-self: center;
}
.main__views-p.albums {
  margin-left: auto;
  align-self: center;
}
.main__tracks-img {
  filter: grayscale(20%);
  width: 125px;
  height: 125px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

.sub {
  color: rgba(58, 57, 57, 0.994);
  font-size: 0.6rem;
  font-weight: 600;
}

/*# sourceMappingURL=main.css.map */
