$black-color: #040517;
$white-color: #e5e5e5e7;
$blue-color: rgb(32, 15, 86);
$container: 1180px;
$main-color:#17002b;
$p-color: #9b9b9be7;
$bg-scrollbar-color: rgba(32,15,86, .5);
$secondary-font-color: rgb(32, 15, 86, .1);